/* RGB */


$color-primary: rgba(232, 95, 92, 1);
$color-primary-dark: rgba(119, 51, 68, 1);
$color-secondary: rgba(227, 181, 164, 1);
$color-secondary-light:rgb(230, 217, 212); 
$color-contrast: rgba(172, 243, 157, 1);