/*##################################footer##############*/

#footer {
    background-color: rgb(126, 118, 114);
  }
  
  #footer .fa {
    color: $color-primary;
    font-size: 30px;
    background-color: #2D3142;
    padding: 5px;
  }
  
  #footer p {
    color: #2D3142;
  }
  
  
  
  
  #scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #555;
    color: #fff;
  }


  footer {
    background-color: #414040;
    text-align: center;
}
  footer p {
    font-size: 1.6rem;
    padding: 2rem;
    color: #c9c9c9;
}
  