

.top-icons{
background-color: $color-primary;

}

.icons-top a,
.icons-top ~ h2{

color: $color-secondary-light;
font-size: 2rem;
transition: color 1s ease-in-out .2s;

&:hover{

    color: $color-primary-dark;
}

}

.navbar-brand{

    font-size: 4rem;
    color: $color-primary;
    transition: color 1s ease-in-out .2s;

    &:hover{

        color: $color-secondary-light;
    }
    

}

.bg-bar{
    background-color: $color-primary-dark;

}

.search-btn{
background-color: $color-primary-dark;
color: $color-primary;

transition: color 1s ease-in-out .2s;
&:hover{

    color: $color-secondary-light;
}

}

.nav-link{

font-size: 2rem;
font-weight: bold;
color: $color-primary;
padding: 10px,20px;
border-bottom: 2px solid transparent;
transition: all 1s ease-in-out .2s;


&:hover{

    color: $color-secondary-light;
    border-bottom: 2px solid $color-secondary-light;
    
}


}

.navbar{

padding: 1rem 2rem;

transition: padding 1s ease;



}

.navbar-background{

    padding: .2rem 2rem;
    
   
    
    }

.bar-1,.bar-2,.bar-3{

width: 2rem;
height: .3rem;
background-color: $color-primary !important;
margin: 5px;
transition: all .2 ease;

}


.change .bar-1{

    transform: rotate(-45deg) translate(-5px,6px);
}

.change .bar-2{

    opacity: 0;
}

.change .bar-3{

    transform: rotate(45deg) translate(-5px,-8px);
}

.nav-active{
    color: $color-secondary-light;

}

.navbar-toggler{
border: 3px solid $color-primary;
padding: 1px;

}


// Banner section



#banner{

    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) 
    ,url(../img/background-banner.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

#banner .banner-title{

font-style: italic;


}

#banner .banner-link{

    text-decoration: none;
    font-size: 2rem;
    padding: 1.5rem 2.5rem;
    border: 2px solid $color-primary;
    border-radius: 50px;
    color: $color-secondary;
    background: transparent;
    transition: all 1s ease;

    &:hover{

        color: $color-secondary-light;
        border: 2px solid $color-secondary-light;
        
    }
    

}

#banner .sub-title{

color: $color-secondary-light;

}


// Banner after section
#banner::after{

content: '';
width: 100%;
height: 100%;
position: absolute;
background: rgb(36, 42, 51);
z-index: -1;
bottom: -60px;
transform-origin: left;
transform: skewY(3deg); 


}

// Banner icons

#banner-icons{

    margin-top: -20px;

    & ul{

        list-style-type: none;
    }

    & li{

        padding: 10px;
        margin: 0 3px;
        background-color: rgba(0,0,0,0.7);
        border: 2px solid $color-secondary-light;
        border-radius: 10px;
        transition: all 1s ease .3s;
        box-shadow: 0 .2rem 2rem  rgba(230, 217, 212, 0.4);

        &:hover {

            border: 2px solid $color-primary;
            box-shadow: 0 .3rem 3rem  rgba(230, 217, 212, 0.1);
        }
    }

    & .fa{

font-size: 3.2rem;


    }


    & a{
    

        text-decoration: none;
        color: $color-primary;
        display: block;
        transition: color 1s ease .3s;
        &:hover{


                color: $color-secondary-light;

           
        }
    
}
    
    
     
}

